<div class="flex flex-column">
  <div class="flex justify-content-between align-items-center">
    <div>
      <p class="font-bold text-3xl">Listagem de Tcc</p>
    </div>
    <div>
      <p-button label="Adicionar" (click)="openDialog()">
        <span class="material-symbols-outlined">
          add_circle
        </span>
      </p-button>
    </div>
  </div>
  <div>
    @for (tcc of listTcc; track tcc) {
      <app-course-completion [titulo]="tcc.titulo"
                             [descricao]="tcc.descricao"
                             [pdfUrl]="tcc.pdfUrl"
                             [professoresBanca]="tcc.professoresBanca ?? []"
                             [orientador]="tcc.orientador"
                             [dataApresentacao]="tcc.dataApresentacao ? tcc.dataApresentacao : ''"
      ></app-course-completion>
    }
  </div>
</div>


<p-dialog header="Informações do TCC" [modal]="true"
          [(visible)]="dialog"
          [style]="{ width: '50rem' }"
          (onHide)="closeDialog()">
  <app-dashboard-add></app-dashboard-add>
</p-dialog>
