<form [formGroup]="formGroup" (ngSubmit)="register()">
  <div class="flex flex-column gap-4 border-3">
    <div>
      <p-floatlabel variant="on" >
        <input pInputText  autocomplete="off" formControlName="nome" class="w-full" />
        <label>Nome</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel variant="on" >
        <input pInputText  autocomplete="off" formControlName="sobrenome" class="w-full" />
        <label>Sobrenome</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel variant="on" >
        <input pInputText  autocomplete="off" formControlName="email" class="w-full" />
        <label>E-mail</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel variant="on" class="w-full">
        <p-password [toggleMask]="true" [feedback]="false" formControlName="senha" styleClass="w-full"/>
        <label>Senha</label>
      </p-floatlabel>
    </div>
    <div>
      <p-floatlabel variant="on" >
        <p-password [toggleMask]="true" [feedback]="false" styleClass="w-full"/>
        <label>Confirme sua Senha</label>
      </p-floatlabel>
    </div>
    <div>
      <div class="flex items-center">
        <p-radiobutton name="perfil" value="professor" formControlName="perfil" inputId="professor"/>
        <label for="professor" class="ml-2">Professor</label>
      </div>
      <div class="flex items-center">
      <p-radiobutton name="perfil" value="aluno" formControlName="perfil" inputId="aluno" />
      <label for="aluno" class="ml-2">Aluno</label>
    </div>
    </div>
    <div>
      <p-floatlabel variant="on" >
        <input pInputText  autocomplete="off" formControlName="instituicao" class="w-full" />
        <label>Instituição</label>
      </p-floatlabel>
    </div>
    <div>
      <p-button type="submit" label="Salvar" styleClass="w-full"/>
    </div>
  </div>
</form>
