<div class="h-screen">
  <div class="flex justify-content-center align-items-center h-full">
    <form [formGroup]="formGroup" (ngSubmit)="login()">
      <div class="flex flex-column gap-4 border-3 p-3">
        <div>
          <input type="text" pInputText placeholder="E-mail" class="w-full" formControlName="email"/>
        </div>
        <div>
          <p-password [toggleMask]="true" [feedback]="false" placeholder="Senha" formControlName="senha"/>
        </div>
        <div>
          <p-button label="Entrar" styleClass="w-full" type="submit"/>
        </div>
        <div class="flex justify-content-center cursor-pointer">
          <a>Esqueceu sua senha?</a>
        </div>
        <div class="flex justify-content-center cursor-pointer">
          <a>Cadastra-se</a>
        </div>
      </div>
    </form>
  </div>
</div>

<app-register></app-register>
